<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>一覧画面</title>
    <link rel="stylesheet" href="/assets/stylesheets/normalize.scss">
    <link rel="stylesheet" href="/assets/stylesheets/users.scss">
    <title>登録画面</title>
  </head>
  <body>
    <h1>Sign up</h1>
    <%= render 'form',user: @user %>
  </body>
</html>
